body{
    text-align: center;
	background-color: #e9e9e7;
    background-size: 100%;
	background-image:url('backg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
    margin: 0;
}

header{
    position: fixed;
    z-index: 100000;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

nav ul li {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav ul li a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: silver;
}

nav ul li a:hover {
    background-color: #c53f57;
    color: #ffff;
}

nav ul li a:active {
    background-color: #901c2f;
}

h1, h2, h3 {
    font-family: Constantine;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    margin-top: 120px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h1 img {
    width: 100%;
    min-width: 280px;
}

video{
	min-width: 40%;
	height: 280px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
	width:100%;
}

p {
    line-height: 130%;
}

p img {
    width: 100%;
    margin-top: 80px;
}

.oferta {
    width: 29%;
    margin: 0 2% 80px 2%;
    float: left;
}

.btn {
    background-color: #c53f57;
    padding: 8px 18px;
    color: #ffff;
    font-family: Liberation;
    font-size: 14px;
}

.btn:active {
    background-color: #901c2f;
}

.oferta img {
    border-radius: 50%;
    width: 75%;
}

.cena {
    font-size: 35px;
}

footer p {
    font-size: 14px;
    color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
	margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 280px;
    padding: 10px;
	outline-color: #901c2f;
}

select {
    width: 304px;
    padding: 10px 6px;
	outline-color: #901c2f;
}

textarea {
    width: 282px;
    padding: 10px;
    font-family: arial;
    font-size: 13px;
    resize: none;
	outline-color: #901c2f;
}
